{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "rules": {
        //"max-len": [1, 120, 2, {"ignoreComments": true}],
        "no-cond-assign": [2,"always"],
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty-character-class": 2,
        "no-empty": [2],
        "no-ex-assign": 2,
        "no-extra-semi": 2,
        "no-func-assign": 2,
        "no-invalid-regexp": [2, {"allowConstructorFlags": ["u","y"]}],
        "no-regex-spaces": 2,
        "no-template-curly-in-string": 1,
        "no-unexpected-multiline": 1,
        "no-unreachable": 1,
        "no-unsafe-finally": 2,
        "no-unsafe-negation": 1,
        "use-isnan": 2,
        "valid-jsdoc": [1],
        "valid-typeof": 2,
        "react/display-name": [2],
        "react/prop-types": [2],
        "react/no-deprecated": 1,
        "react/no-did-mount-set-state": [2, "disallow-in-func"],
        "react/no-did-update-set-state": [2, "disallow-in-func"],
        "react/no-direct-mutation-state": 2,
        "react/no-find-dom-node": 2,
        "react/no-is-mounted": 2,
        "react/no-multi-comp": 2,
        "react/no-render-return-value": 2,
        "react/no-set-state": 2, //useful when using redux, flux, etc
        "react/no-unescaped-entities": 1,
        "react/no-unused-prop-types": [2],
        "react/prefer-es6-class": [1, "always"],
        "react/react-in-jsx-scope": 2,
        //"react/require-optimization": [1], //shouldComponentUpdate should be declared
        "react/require-render-return": 2,
        "react/jsx-curly-spacing": [2,"never"],
        "react/jsx-equals-spacing": [2,"never"],
        "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
        "react/jsx-indent": [1, 2],
        "react/jsx-no-comment-textnodes": 1,
        "react/jsx-no-duplicate-props": [2, {"ignoreCase": true}],
        "react/jsx-no-target-blank": 2,
        "react/jsx-no-undef": 2,
        "react/jsx-space-before-closing": [1, "always"],
        "react/jsx-tag-spacing": [1, { "closingSlash": "never", "beforeSelfClosing": "always", "afterOpening": "never"}],
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2

    },
    "settings": {
        "react": {
            "version": "15.3" // React version, default to the latest React stable release
        }
    }
}